*{
    margin: 0;
    padding: 0;
}

body{
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}

.container{
    background-color: #eae8e8;


      
}

.header{
    padding-top: 63px;
    text-align: center;
    /* background-color: red; */
}

.header h1{
    margin-bottom: 41px;
}

.header p{
    padding-bottom: 22px;
}

.images-section{
    margin: 28px;
    background-color: #fff;
    /* align-items: center;
    justify-content: center; */
    text-align: center;

   

}

img{
    display: block;
    margin-left: auto;
    margin-bottom: 17px;
    margin-right: auto;
    width: 80%;

}
.content-section{
    display: block;


    
    align-content: center;
    margin-left: auto;
    /* margin-bottom: 17px; */
    margin-right: auto;
    /* width: 80%; */
}
ul{
    /* margin-left: 30%;
    margin-right: 30%; */
    margin: auto;
}

h2{
    text-align: center;
}